ul li p{
   color:rgb(255,179,79);
}

.bg-1{
	background-color: rgb(39, 175, 148);
}
.bg-2{
	background-color: rgb(170, 114, 216);
}
.bg-3{
	background-color: rgb(162, 105, 253);
}

.brand-link
{
	margin-top: -55px;
}

.info{
	margin: 1px;
}