ul li p{
   color:rgb(255,179,79);
}

.bg-1{
	background-color: rgb(51, 97, 88);
}
.bg-2{
	background-color: rgb(114, 78, 143);
}
.bg-3{
	background-color: rgb(162, 105, 253);
}

.brand-link
{
	margin-top: -55px;
}

.info{
	margin: 1px;
}